*, ::after, ::before {
    margin: 0px;
}
body {
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    background-color: black ;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.header-name {
    display: none;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-name #media-color {
    color: yellow;
}
.header-name #tech {
    color: white;
    margin-left: 5px;
}
.header-name #media-triangle {
    height: 35px;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 4px;
    margin-left: 10px;
}
header .back-to-store {
    position: absolute;
    top: 0.6em;
    right: 50%;
    transform: translateX(+50%);
    padding: 5px 10px 5px 10px;
    font-size: 1.8em;
    border-radius: 0.2em;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: yellow;
}
header .back-to-store:hover {
    background-color: white;
    transition: 0.5s;
}

.basket-bar {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
    margin-right: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
header .display-options {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 0.2em;
    background-color: white;
    padding: 3px;
    border-radius: 0.3em;
    top: 0.4em;
    right: 14em;
}
header .display-options button {
    padding: 0.5em;
    width: 7em;
    font-weight: bold;
    border: none;
    border-radius: 5em;
    background-color: yellow;
}
header .display-options button:hover {
    background-color: black;
    color: yellow;
    cursor: pointer;
    transition: 0.5s;
}
.basket-bar .menu-list {
    height: 2.5em;
    margin-right: 40px;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
}
.basket-bar .menu-list:hover {
    background-color: white;
    transition: 0.5s;
}
.basket-bar .basket-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.basket-bar .basket-img:hover {
    background-color: white;
    transition: 0.5s;
}
.basket-bar span {
    color: white;
    font-size: 16px;
    margin-bottom: 3px;
}

.content {
    display: flex;
    
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 2em;
    position: relative;
}

.lower-container {
    display: flex;
    margin-top: 2em;
    padding: 1em 3em 1em 3em;
    border: solid 0.1em rgb(220, 220, 220);
}

.logging{
    height: 24em;
    padding: 2em;
    border: solid 0.1em rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.login-form {
    gap: 2em;
}



.login-form input {
    font-size: 1em;
    padding: 0.7em 0 0.7em 0.3em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    border: solid 0.1em rgb(220, 220, 220);;
}

.login-form input[type=email] {
    width: 26em;
}

.login-form input[type=password] {
    width: 26em;
}

.login-form input[type=submit] {
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    background-color: yellow;
    
}

.login-form input[type=submit]:hover {
    -webkit-box-shadow: 2px 3px 22px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 2px 3px 22px -10px rgba(66, 68, 90, 1);
box-shadow: 2px 3px 22px -10px rgba(66, 68, 90, 1);
    transition: 0.2s;
}

.new-client {
    position: relative;
    padding: 2em;
    height: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.1em rgb(220, 220, 220);
    gap: 1em;
}



.benefits-container {
    line-height: 4em;
    font-weight: 500;
}
.benefits-container i {
    margin-right: 1em;
}

@media only screen and (min-width: 800px){
    .header-name {
        display: flex;
        padding-left: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    header {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1050px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        gap: 2em;
        position: relative;
        margin-bottom: 2em;
    }
    .logging{
        width: 30em;
        height: 24em;
        padding: 2em;
        border: solid 0.1em rgb(220, 220, 220);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .new-client {
        width: 30em;
        position: relative;
        padding: 2em;
        height: 24em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 0.1em rgb(220, 220, 220);
        gap: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .new-client {
        position: relative;
        padding: 2em;
        height: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 0.1em rgb(220, 220, 220);
        gap: 1em;
    }
    .logging{
        width: 30em;
        height: auto;
        
        padding: 2em;
        border: solid 0.1em rgb(220, 220, 220);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
}