*, ::after, ::before {
    margin: 0px;
}
body {
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: black ;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.header-name {
    display: none;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-name #media-color {
    color: yellow;
}
.header-name #tech {
    color: white;
    margin-left: 5px;
}
.header-name #media-triangle {
    height: 35px;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 4px;
    margin-left: 10px;
}
header .back-to-store {
    position: absolute;
    top: 0.6em;
    right: 50%;
    transform: translateX(+50%);
    padding: 5px 10px 5px 10px;
    font-size: 1.8em;
    border-radius: 0.2em;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: yellow;
}
header .back-to-store:hover {
    background-color: white;
    transition: 0.5s;
}

.basket-bar {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
    margin-right: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
header .display-options {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 0.2em;
    background-color: white;
    padding: 3px;
    border-radius: 0.3em;
    top: 0.4em;
    right: 14em;
}
header .display-options button {
    padding: 0.5em;
    width: 7em;
    font-weight: bold;
    border: none;
    border-radius: 5em;
    background-color: yellow;
}
header .display-options button:hover {
    background-color: black;
    color: yellow;
    cursor: pointer;
    transition: 0.5s;
}

.basket-bar .user-btn {
    cursor: pointer;
    height: 100%;
    border-radius: 0.5em;
    background-color: black;
    border: none;
}
.basket-bar .user-btn:hover {
    transition: 0.5s;
    background-color: white;
}

.basket-bar .logout {
    position: relative;
    display: flex;
    width: 7em;
    height: 2.4em;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
    margin-right: 40px;
}

.basket-bar .logout form {
    display: flex;
    width: 4em;
    justify-content: center;
    
    
}

.basket-bar .logout .logout-btn {
    display: none;
    border: none;
    font-size: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    cursor: pointer;
    border-radius: 0.3em;
    background-color: white;
    margin-right: 0.5em;
}

.basket-bar .logout .logout-btn:hover {
    background-color: yellow;
    transition: 0.5s;
}
.basket-bar .basket-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.basket-bar .basket-img:hover {
    background-color: white;
    transition: 0.5s;
}
.basket-bar span {
    color: white;
    font-size: 16px;
    margin-bottom: 3px;
}

.content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .available-activities {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.content .available-activities #options-button {
    position: relative;
    width: 40em;
    height: 3.5em;
    background-color: white;
    border: none;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.content .available-activities #options-button:hover {
    cursor: pointer;
    background-color: yellow;
    transition: 0.5s;
    border-radius: 0.3em;
}

.add-new-product-form, .delete-product-form, .update-product-form {
    display: none;
    width: 52em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1em solid rgb(230, 230, 230);
    border-radius: 0.3em;
    padding-top: 2em;
    padding-bottom: 2em;
}


#h3-title {
    margin-bottom: 1em;
}

.add-new-product-form form {
    gap: 2em;
}

.add-new-product-form form input[type=text], .delete-product-form form input[type=text], .update-product-form form input[type=text] {
    width: 30em;
    padding: 0.8em 0 0.8em 0.5em;
}

#add-form, #delete-form, #update-form {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#add-product-submit, #delete-product-submit, #update-product-submit{
    width: 100%;
    height: 3em;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

#add-product-submit:hover, #delete-product-submit:hover, #update-product-submit:hover{
    transition: 0.5s;
    -webkit-box-shadow: 2px 3px 22px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 2px 3px 22px -10px rgba(66, 68, 90, 1);
box-shadow: 2px 3px 22px -10px rgba(66, 68, 90, 1);
}

@media only screen and (min-width: 800px){
    .header-name {
        display: flex;
        padding-left: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    header {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 840px) {
    .add-new-product-form, .delete-product-form, .update-product-form {
        width: 100%;
    }

    .content .available-activities #options-button {
        width: 100%;
    }
    
    .content .available-activities {
        width: 97%;
    }
}