html {
    font-family: Arial, Helvetica, sans-serif;
}
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
header div {
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;

}
header .paper {
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-right: 20px;
}
.stats {
    height: 50px;
    width: 100%;
    display: flex;
    background-color:antiquewhite;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.player, .computer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: green;
    width: 80px;
    border-radius: 10%;
    color: white;
}
.computer {
    background-color: rgb(6, 3, 186);
}
.player-stats, .comp-stats {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons {
    width: 100%;
    height: 300px;
    max-height: 340px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
}
.icons button {
    transition: 0.5s;
    width: 200px;
    height: 270px;
    cursor: pointer;
    border: none;
}
.icons img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    pointer-events: none;
}
.icons button:hover {
    width: 220px;
    height: 280px;
    border: none;
    -webkit-box-shadow: 1px 7px 40px 10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 7px 40px 10px rgba(66, 68, 90, 1);
    box-shadow: 1px 7px 40px 10px rgba(66, 68, 90, 1);
}
.display-results {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
    margin-top: 20px;
}
.display-results.active {
    display: block;
}  
.player-chose {
    font-weight: bold;
    color: green;
}
.comp-chose {
    font-weight: bold;
    color: rgb(6, 3, 186);;
}
.result-bar {
    display: none;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    font-weight: bold;
}
.result-bar.active {
    display: flex;
}

.result-title {
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 3px 0px;
    border-radius: 10px;
    background-color: green;
}
.restart-game {
    display: none;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.restart-game.active {
    display: flex;
}
.restart {
    height: 100%;
    border: none;
    color: white;
    background-color: rgba(0,0,0,0.766);
    padding: 4px 5px;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.restart:hover {
    background-color: rgba(0,0,0,0.966);;
}

.choose-weapon {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.choose-weapon.hidden {
    display: none;
}